#### Lista de Exercícios 
#### Ana Laura Godoy Papst | 191438
#### Anna Lívia Dias | 210404
#### Rafael Naoyuki Yamanaka Bueno | 171286

In [2]:
import pandas as pd
import statsmodels.api as sm

### 1. Sejam os seguintes valores relativos ao número de cheques devolvidos, expressos em milhares de unidades, no Estado de LeMonde:

##### a) Estimar uma reta de regressão para o ano de 1996 e calcular o coeficiente de determinação
##### Resposta: numero = 2475.20
#####                         R-squared: 0.089

In [2]:
mes = [1,2,3,4,5]
numero = [2508,2430,2791,2436,2652]

dados = pd.DataFrame(zip(mes, numero), columns = ['mes', 'numero'])

In [ ]:
dados

   mes  numero
0    1    2508
1    2    2430
2    3    2791
3    4    2436
4    5    2652

In [5]:
X = dados['mes']
y = dados['numero']
X = sm.add_constant(X)
model = sm.OLS(y,X).fit()
predictions = model.predict(X)
model.summary()

C:\Users\User\anaconda3\lib\site-packages\statsmodels\stats\stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 numero   R-squared:                       0.089
Model:                            OLS   Adj. R-squared:                 -0.214
Method:                 Least Squares   F-statistic:                    0.2943
Date:                Sat, 03 Sep 2022   Prob (F-statistic):              0.625
Time:                        13:51:15   Log-Likelihood:                -31.537
No. Observations:                   5   AIC:                             67.07
Df Residuals:                       3   BIC:                             66.29
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2475.2000    179.735     13.771      0.001    1903.203    3047.197
mes           29.4000     54.192      0.543      0.625    -143.064     201.864
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   3.451
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.420
Skew:                           0.585   Prob(JB):                        0.811
Kurtosis:                       2.194   Cond. No.                         8.37
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### ----------------------------------------------------------------------------------------------------

##### b) Repetir o processo do item (a) para o ano de 1997
##### Resposta: numero = 2549.7189 + 51.8214 * mes
##### R-squared: 0.30

In [9]:
mes = [1,2,3,4,5,6,7,8]
numero = [2884,2359,2764,2695,2617,2903,3131,2906]

dados = pd.DataFrame(zip(mes, numero), columns = ['mes', 'numero'])

In [10]:
dados

   mes  numero
0    1    2884
1    2    2359
2    3    2764
3    4    2695
4    5    2617
5    6    2903
6    7    3131
7    8    2906

In [11]:
X = dados['mes']
y = dados['numero']
X = sm.add_constant(X)
model = sm.OLS(y,X).fit()
model.summary()

C:\Users\User\anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=8
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 numero   R-squared:                       0.300
Model:                            OLS   Adj. R-squared:                  0.183
Method:                 Least Squares   F-statistic:                     2.568
Date:                Sat, 03 Sep 2022   Prob (F-statistic):              0.160
Time:                        14:00:26   Log-Likelihood:                -52.961
No. Observations:                   8   AIC:                             109.9
Df Residuals:                       6   BIC:                             110.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2549.1786    163.284     15.612      0.000    2149.638    2948.719
mes           51.8214     32.335      1.603      0.160     -27.299     130.942
==============================================================================
Omnibus:                        0.109   Durbin-Watson:                   2.472
Prob(Omnibus):                  0.947   Jarque-Bera (JB):                0.319
Skew:                           0.014   Prob(JB):                        0.853
Kurtosis:                       2.023   Cond. No.                         11.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### ----------------------------------------------------------------------------------------------------

##### c)Novamente repetir o processo do item (a), considerando os dois períodos em estudo (1996/1997)
##### Resposta: numero = 2434.6923 + 37.6374 * mes
##### R-squared: 0.415

In [13]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,13]
numero = [2508,2430,2791,2436,2652,2884,2359,2764,2695,2617,2903,3131,2906]

dados = pd.DataFrame(zip(mes, numero), columns = ['mes', 'numero'])

In [14]:
dados

    mes  numero
0     1    2508
1     2    2430
2     3    2791
3     4    2436
4     5    2652
5     6    2884
6     7    2359
7     8    2764
8     9    2695
9    10    2617
10   11    2903
11   12    3131
12   13    2906

In [15]:
X = dados['mes']
y = dados['numero']
X = sm.add_constant(X)
model = sm.OLS(y,X).fit()
model.summary()

C:\Users\User\anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=13
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 numero   R-squared:                       0.415
Model:                            OLS   Adj. R-squared:                  0.362
Method:                 Least Squares   F-statistic:                     7.818
Date:                Sat, 03 Sep 2022   Prob (F-statistic):             0.0174
Time:                        14:03:47   Log-Likelihood:                -84.983
No. Observations:                  13   AIC:                             174.0
Df Residuals:                      11   BIC:                             175.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2434.6923    106.840     22.788      0.000    2199.539    2669.846
mes           37.6374     13.461      2.796      0.017       8.011      67.264
==============================================================================
Omnibus:                        0.108   Durbin-Watson:                   2.715
Prob(Omnibus):                  0.948   Jarque-Bera (JB):                0.223
Skew:                          -0.168   Prob(JB):                        0.894
Kurtosis:                       2.453   Cond. No.                         17.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### ------------------------------------------------------------------------------------------------------

##### d) Com base nas retas estimadas, nos itens (a), (b) e (c), fazer uma previsão para o número de cheques compensados em setembro de 1997 e compará-los
##### Resposta: 2434.6923 + 37.6374 * 14 = 2961.6159 (numeros de cheques)
### -------------------------------------------------------------------------------------------------------

In [16]:
2434.6923 + 37.6374 * 14

2961.6159000000002